div{
    margin: 20px;
}

#content{
    text-align: center;

}

#content p{
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

#highscore{
    text-align: left;
    font-style: san serif;
    font-weight: normal;
    margin-right: 40px;
}

#time{
    text-align: right;
    font-style: san serif;
    font-weight: normal;
    margin-right: 40px;
}

#start {
    margin: auto;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: rgba(0,0,255,.70); 
    color: white;
    border-radius: 10px;
    height: 50px;  
    
}

.question {
    margin: 40px;
    align-items: center;
}

.answers{
   align-content:center;

}

#list{
    margin-right: 5px;
}

#submit{
    
    border-radius: 20px;
    margin: 10px 200px;

}

#quiz{
    text-align: center;
}
#name:focus{
    border: 2px solid;
    border-radius: 5px;
    
}
#submitResults{
    border-radius: 20px;
    margin: 10px ;
    background: grey;
}

ul li{
    list-style: none;
}
@media (max-width: 780px){

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    }

#highscore {
    
    max-width: 50%;
}

#time{
    max-width: 50%;
}

#name:focus{
    border: 2px solid;
    border-radius: 5px;
    
      
}

    
@media screen and (max-width: 480px){
    #name:focus{
        border: 2px solid;
        border-radius: 5px;
        

}
    